/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Lora:ital,wght@0,400;0,500;0,700;1,600&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Components */
@import url("components/navbar.css");
@import url("components/banner.css");
@import url("components/buttons.css");
@import url("components/cards.css");


/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: 'Lora', serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 38px;
  font-weight: 400;
}

h3 {
  font-size: 30px;
  font-weight: 400;
}

h4 {
  font-size: 28px;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-weight: 400;
}

/* Custom design below! */
